<mat-card class="card" routerLink="/product/{{product.id}}">
    <mat-card-header>
        <mat-card-title>{{product.name | text}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/products/{{product.image}}" alt="{{product.name}}">
    <mat-card-content>
        <p>
            {{product.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <span class="price">
            {{product.price | currency}}
        </span>
        <!-- <button mat-button>
            <span class="material-icons">
                favorite_border
            </span>
        </button> -->
        <button mat-button>
            <span class="material-icons">
                add_shopping_cart
            </span>
        </button>
    </mat-card-actions>
</mat-card>